<div data-uid="item-detail" class="container-column border-rounded padding-medium gap-medium" style="
width: 350px;
height: 100%;
visibility: hidden;
background-color: var(--color-light);
overflow: hidden auto;
">
    <div data-uid="item-info" class="container-column gap-medium" style="width: 100%; flex: 1; overflow: hidden auto;">
    </div>
    <div data-uid="actions-detail" class="container-column gap-medium" style="width: 100%;">
        <element data-uid="btn-action" {text:$btnAction$} button-small-stretch />
        <element data-uid="btn-export" {text:%button export%} button-small-stretch />
    </div>
</div>